psycopg2-binary~=2.9.10
pandas~=2.2.3
scikit-learn~=1.5.2
flask
jsonify
requests
seaborn~=0.13.2
matplotlib
openai~=1.52.0
langchain~=0.3.7
langchain-openai~=0.2.5
langgraph
pyautogen
langchain-community
streamlit~=1.40.1
pinecone~=5.4.0


langchain-core~=0.3.19
numpy~=1.26.4